[Unit]
Description=Apply bootc updates
Documentation=man:bootc(8)
ConditionPathExists=/run/ostree-booted

[Timer]
OnCalendar=Fri 18:00
RandomizedDelaySec=20m
Persistent=true

[Install]
WantedBy=timers.target
