[Unit]
Description=Disable Intel Turbo Boost using pstate driver
ConditionPathExists=/sys/devices/system/cpu/intel_pstate/no_turbo

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c "/usr/bin/echo 1 > /sys/devices/system/cpu/intel_pstate/no_turbo"
ExecStop=/usr/bin/sh -c "/usr/bin/echo 0 > /sys/devices/system/cpu/intel_pstate/no_turbo"
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
