name: Build KDE

on:
  workflow_call:
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: KDE
    uses: ./.github/workflows/template-build-desktop.yml
    secrets: inherit
    with:
      desktop: kde
